<!-- Template Driven Form -->

<div class="container" style="background-color: white; width: 60%;">
    <div class="card" style="float: center;">
        <div class="alert alert-primary" role="alert" *ngIf="flag">
            You have Logged in Successfully!
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="invalidLogin">
            Login Failed! Please check your Email and Password
        </div>
        <h4 class="card-title" style="text-align: center;">Login Form</h4>
        <div class="d-flex justify-content-center">
            <form #loginForm="ngForm" (submit)="Login(loginForm)">
                <div class="form-group">
                    <label for="email">Email: </label>
                    <input type="email" [(ngModel)]="loginData.email" name="email" class="form-control-inline" style="margin: 12px;" placeholder="Email" required />
                </div>
                <div class="form-group">
                    <label for="password">Password: </label>
                    <input type="password" [(ngModel)]="loginData.password" name="password" class="form-control-inline" style="margin: 12px;" placeholder="Password" required />
                </div>
                <div class="form-group">
                    <input type="submit" value="Login" style="margin-bottom: 12px;" [disabled]="!loginForm.valid">
                </div>
            </form>
        </div>
    </div>
</div>
